.fc-custom .fc-timegrid-slot {
    height: 4rem; /* Giữ nguyên chiều cao lớn để hiển thị nội dung */
    border: 1px solid #e5e7eb;
  }
  .fc-custom .fc-timegrid-slot-label {
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    text-align: right;
    color: #6b7280;
    font-size: 0.875rem;
  }
  .fc-custom .fc-timegrid-col {
    border: 1px solid #e5e7eb;
  }
  .fc-custom .fc-event {
    background-color: #F2F6F8;
    border: 1px solid #878787;
    border-left-width: 4px; /* Viền trái dày hơn */
    border-radius: 0.25rem; /* Bo góc nhẹ */
     /* Chữ màu xanh dương */
    padding: 0.5rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Căn trái nội dung */
    gap: 0.5rem; /* Khoảng cách giữa các phần tử */
  }

  .fc-custom .fc-timegrid-col.fc-day-today {
    background-color: #f2f7ff;
  }
  .fc-custom .fc-header-toolbar {
    display: none;
  }
  .fc-custom .fc-timegrid-slot-label-frame {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
  }

  /* Ghi đè chiều cao của .fc-view-harness .fc-view-harness-active */
  .fc-view-harness,
  .fc-view-harness-active {
    height: 1584px !important; /* Loại bỏ chiều cao cố định */
  }
  /* Cho phép cuộn toàn trang và ẩn thanh cuộn nếu muốn */
  body {
    overflow-y: scroll; /* Giữ khả năng cuộn của trang */
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, và Opera */
  }

  /* Style cho nội dung header */
  .fc-day-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fc-day-total {
    font-size: 0.75rem; /* Kích thước chữ nhỏ hơn cho tổng thời gian */
    color: #4b5563; /* Màu xám tương đương gray-600 */
    margin-top: 2px; /* Khoảng cách giữa ngày và tổng */
  }
